<nav class="navbar navbar-light bg-light">
  <form class="form-inline" id="search-form">
    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" id="search" name="search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

<div class="pokemon-card-container">
  <div class="pokemon-card">
    <div class="sprite-container">
      <img class="image" id="pokemon-sprite">
    </div>

    <div class="entry">
    <h1 class ="pokemon-name">"pokemons name"</h1>
    <span class="pokemon-number">"pokemons type"</span>
 
    <div class = "context">
      <p>"pokedex entry123"</p>
    </div>

    </div>

  </div>
</div>
