.Attribute-Key { grid-area: Attribute-Key; }

.Pokemon-1 { grid-area: Pokemon-1; }

.Pokemon-2 { grid-area: Pokemon-2; }

.Pokemon-3 { grid-area: Pokemon-3; }

.Pokemon-4 { grid-area: Pokemon-4; }

.Pokemon-5 { grid-area: Pokemon-5; }

.Pokemon-6 { grid-area: Pokemon-6; }

