.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas: "Welcome Welcome Welcome Welcome" "List-Area PokemonDisplay Saved-Decks Saved-Decks" "List-Area PokemonDisplay Saved-Decks Saved-Decks";
  }
  
  .Welcome { grid-area: Welcome; }
  
  .List-Area { grid-area: List-Area; }
  
  .Saved-Decks { grid-area: Saved-Decks; }
  
  .PokemonDisplay { grid-area: PokemonDisplay; }
  